---
import Brand from "@/components/en/Brand.astro";
import Language from "@/components/Language.astro";
import ExtraInfo from "@/components/en/ExtraInfo.astro";
import Footer from "@/components/en/Footer.astro";
import Header from "@/components/Header.astro";
import Location from "@/components/en/Location.astro";
import ProgressBar from "@/components/ProgressBar.astro";
import RepeatedSocks from "@/components/RepeatedSocks.astro";
import Welcome from "@/components/en/Welcome.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  description="Home page"
  priorityImages={[
    "/socks/sock_1.webp",
    "/socks/sock_2.webp",
    "/socks/sock_3.webp",
    "/socks/sock_4.webp",
    "/socks/sock_5.webp",
  ]}
>
  <main>
    <ProgressBar />
    <Header />
    <Welcome />
    <Brand />
    <ExtraInfo />
    <RepeatedSocks />
    <Location />
    <Footer />
    <Language />
  </main>
</Layout>
