---
import Header from "@/components/Header.astro";
import Welcome from "@/components/Welcome.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  description="Home page"
  priorityImages={["/socks/sock_1.png", "/socks/sock_2.png"]}
>
  <main>
    <Header />
    <Welcome />
  </main>
</Layout>
