---
import Brand from "@/components/Brand.astro";
import Header from "@/components/Header.astro";
import ProgressBar from "@/components/ProgressBar.astro";
import Welcome from "@/components/Welcome.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  description="Home page"
  priorityImages={["/socks/sock_1.webp", "/socks/sock_2.webp"]}
>
  <main>
    <Header />
    <ProgressBar />
    <Welcome />
    <Brand />
  </main>
</Layout>
