<footer
  class="footer flex flex-col items-center justify-center bg-theme-black-greenish p-10 text-white shadow-md"
>
  <img
    class="mb-4 w-36 cursor-pointer hover:brightness-90"
    id="logo"
    src="/logo.svg"
    alt="Logo"
  />
  <p class="text-center text-lg font-bold">Acompañándote desde 2004</p>
  <p class="text-center text-sm">
    Copyright © 2024 - Todos los derechos reservados
  </p>
</footer>
