<div class="progress-bar bg-theme-green fixed top-0 h-1"></div>

<script>
  /**
   * Add progress bar functionality.
   */

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  /**
   * Progress bar will start at the top of the document
   * and will end at the end of the document
   */
  const progressBar = document.querySelector(".progress-bar") as HTMLDivElement;

  ScrollTrigger.create({
    start: 'top top',
    end: 'bottom bottom',
    onUpdate: (self) => {
        progressBar.style.width = `${self.progress * 100}%`;
    }
  });
</script>
