---
import DownArrow from "@/icons/DownArrow.astro";
import Section from "@/layouts/Section.astro";
---

<Section id="welcome">
  <div
    class="relative flex h-[calc(100vh-4rem)] flex-col items-center justify-center gap-10"
  >
    <div class="flex flex-col items-center">
      <h1
        class="text-6xl font-bold text-theme-red xs:text-7xl md:text-8xl xl:text-9xl"
        id="welcome-title"
      >
        YANOIR
      </h1>
      <h2
        class="text-lg font-bold xs:text-xl md:text-2xl xl:text-3xl"
        id="welcome-subtitle"
      >
        The real cotton socks 游빉
      </h2>
    </div>

    <p
      class="max-w-[60rem] text-center text-lg xs:text-xl"
      id="welcome-description"
    >
      <span class="font-bold text-theme-green">Yanoir</span> es una empresa especializada
      en la fabricaci칩n de <span class="font-bold text-theme-green"
        >calcetines de algod칩n</span
      > para el mercado <span class="font-bold text-theme-green">B2B</span> 游닍 Nos
      dedicamos a ofrecer productos de <span class="font-bold text-theme-green"
        >alta calidad</span
      > que cumplen con los est치ndares m치s <span
        class="font-bold text-theme-green">exigentes</span
      > de la industria desde el primer d칤a 游꼒
    </p>

    <DownArrow
      class="w-12 cursor-pointer fill-theme-green hover:brightness-90 xs:w-14"
      id="welcome-down-arrow"
    />

    <img
      class="absolute right-[12%] top-[18%] -z-10 hidden w-28 animate-float lg:block xl:w-32"
      id="welcome-sock-1"
      src="/socks/sock_1.webp"
      style="animation-delay: 0.5s;"
      alt="Sock"
    />

    <img
      class="absolute left-[12%] top-[18%] -z-10 hidden w-28 animate-float lg:block xl:w-32"
      id="welcome-sock-2"
      src="/socks/sock_2.webp"
      alt="Sock"
    />
  </div>
</Section>

<script>
  /**
   * Add entrance animations to the welcome section
   */

  import gsap from "gsap";

  const welcomeTitle = document.getElementById("welcome-title");
  const welcomeSubtitle = document.getElementById("welcome-subtitle");
  const welcomeDescription = document.getElementById("welcome-description");
  const welcomeDownArrow = document.getElementById("welcome-down-arrow");
  const welcomeSock1 = document.getElementById("welcome-sock-1");
  const welcomeSock2 = document.getElementById("welcome-sock-2");

  gsap.from(welcomeTitle, {
    opacity: 0,
    y: -50,
    duration: 1,
    delay: 0.6,
  });

  gsap.from(welcomeSubtitle, {
    opacity: 0,
    y: -50,
    duration: 1,
    delay: 0.7,
  });

  gsap.from(welcomeDescription, {
    opacity: 0,
    y: -50,
    duration: 1,
    delay: 0.8,
  });

  gsap.from(welcomeDownArrow, {
    opacity: 0,
    y: -50,
    duration: 1,
    delay: 0.9,
  });

  gsap.from(welcomeSock1, {
    opacity: 0,
    duration: 2,
    ease: "expo.in",
  });

  gsap.from(welcomeSock2, {
    opacity: 0,
    duration: 2,
    ease: "expo.in",
  });
</script>
