---
import DownArrow from "@/icons/DownArrow.astro";
import Section from "@/layouts/Section.astro";
---

<Section id="welcome">
  <div
    class="relative flex h-[calc(100vh-4rem)] flex-col items-center justify-center gap-10"
  >
    <div class="flex flex-col items-center">
      <h1
        class="text-6xl font-bold text-theme-red xs:text-7xl md:text-8xl xl:text-9xl"
      >
        YANOIR
      </h1>
      <h2 class="text-lg font-bold xs:text-xl md:text-2xl xl:text-3xl">
        The real cotton socks 🧦
      </h2>
    </div>

    <p class="max-w-[60rem] text-center text-lg xs:text-xl">
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
      de texto. Lorem Ipsum ha sido el texto de relleno estándar de las
      industrias desde el año 1500 🍃
    </p>

    <DownArrow
      class="w-12 cursor-pointer fill-theme-green hover:brightness-90 xs:w-14"
    />

    <img
      class="animate-float absolute right-[12%] top-40 -z-10 hidden w-28 lg:block xl:w-32"
      src="/socks/sock_1.png"
      style="animation-delay: 0.5s;"
    />

    <img
      class="animate-float absolute left-[12%] top-40 -z-10 hidden w-28 lg:block xl:w-32"
      src="/socks/sock_2.png"
    />
  </div>
</Section>
