<div class="fixed bottom-0 right-0 flex space-x-2 p-4">
  <button
    id="es-button"
    class="rounded-full p-2"
    onclick="window.location.href = '/';"
  >
    ES
  </button>
  <button
    id="en-button"
    class="rounded-full p-2"
    onclick="window.location.href = '/en';"
  >
    EN
  </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const currentPath = window.location.pathname;
    const esButton = document.getElementById("es-button") as HTMLButtonElement;
    const enButton = document.getElementById("en-button") as HTMLButtonElement;

    if (currentPath === "/") {
      esButton.classList.add("bg-theme-green", "text-white");
      esButton.classList.remove("bg-gray-200");
    } else {
      esButton.classList.add("bg-gray-200");
      esButton.classList.remove("bg-theme-green", "text-white");
    }

    if (currentPath === "/en") {
      enButton.classList.add("bg-theme-green", "text-white");
      enButton.classList.remove("bg-gray-200");
    } else {
      enButton.classList.add("bg-gray-200");
      enButton.classList.remove("bg-theme-green", "text-white");
    }
  });
</script>
