---
interface Props {
  description: string;
  priorityImages?: string[];
}

const { description, priorityImages } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    {
      priorityImages?.map((image) => (
        <link rel="preload" as="image" href={image} />
      ))
    }

    <title>Yanoir</title>
  </head>

  <body>
    <slot />
  </body>
  <footer id=test>
  </footer>
</html>
