---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
  id?: string;
}

const { class: classname, id } = Astro.props;
---

<div
  class={cn("w-full", {
    [classname as string]: classname,
  })}
  id=`section ${id}`
>
  <div class="container mx-auto">
    <slot />
  </div>
</div>
